---
import MainLayout from "../layouts/MainLayout.astro";
import Projectcardtest from "../components/Projectcardtest.astro";
import Linkedbtn from "../components/Linkedbtn.astro";
import Blob from "../components/Blob.astro";
import Skill from "../components/Skill.astro";
import Upbtn from "../components/Upbtn.astro";
import Footer from "../components/Footer.astro";
---

  

<MainLayout title="CKoudal">
  <div class=" main">
  <!-- ---------- Hero section ---------- -->
  <section id="hero">
    <div>
      <p class="pt-40 md:pt-48 ml-[2.4rem] md:ml-[6.4rem] text-primary"> Charlotte Koudal MMD KEA</p>
      <h1 class="text-5xl md:text-8xl mb-0 uppercase ml-[2.4rem] md:ml-24">Multimedia Design Student</h1>
      <h3 class="ml-[2.4rem] md:ml-[6.4rem] text-xl md:text-2xl pt-20 md:pt-28 text-white">LET'S PLAY CARDS!</h3>
      <h4 class="ml-[2.4rem] md:ml-[6.4rem] text-sm">Or click at recent projects.</h4>
      <img src="/svg/linesolid3.svg" alt="curved arrow line" class="h-24 w-24 -mt-[2.2rem] ml-52 md:ml-58 transform scale-y-[1] scale-x-[-1] -rotate-45">
    </div>
  </section>

<!-- ---------- Projectcard section ---------- -->
  <section id="projects">
    <div>
     <Projectcardtest/>
    </div>
  </section>
  
<!-- bg white -->
<div class="custom-white-bg h-12 mt-44 border-block-end-width w-full"></div>

<!-- ---------- About section ---------- -->


<section id="aboutme">
<div class="grid grid-cols-1 lg:grid-cols-2 pt-10 md:pb-32 pb-20 px-8 md:px-16 lg:px-32 xl:px-64 md:gap-10 gap-6">
  
  <!-- Mobile Layout -->
  <div class="block lg:hidden">
    <div class="flex justify-center items-center pt-0">
      <h2 class="text-5xl md:text-4xl mb-0 uppercase -ml-[2.1rem] -mt-4 text-primary">Who</h2>
      <h2 class="font-serif text-2xl md:text-4xl mb-0 lowercase ml-4 mt-0 text-white">
        am <span style="text-transform: uppercase;">I</span> and what are my aspirations?
      </h2>
      
    </div>
    
    <div class="flex justify-center md:items-center items-start pt-28">  
      <Blob class="ml-0"/> <!-- Adjust margin to bring it closer -->
    </div>
    
    <div class="flex flex-wrap h-auto gap-4 ml-[1.8rem] -mt-100"> <!-- Adjust negative margin to bring the paragraph closer -->
      <div class="flex flex-col justify-end items-center">
        <p class="max-w-lg flex-grow ml-0 text-white">I am a multimedia design student in my 3rd semester at KEA, driven by a lifelong passion for art and design. Through my studies, I have developed skills in digital design methods, gaining experience in user-oriented web solutions, prototyping in Figma, and frontend programming with HTML, CSS, and JavaScript.
          <br><br>
          I am dedicated to creating meaningful user experiences, with a particular interest in UX/UI design. I love bringing ideas to life and ensuring that my designs are not only aesthetically pleasing but also intuitive and functional. With a keen eye for detail, I strive to deliver high-quality work that addresses user needs and captures the essence of a brand. <br>
          <br>
          Teamwork is essential to my approach, as I believe that collaboration and challenging each other’s ideas lead to the best outcomes. I am seeking an internship where I can delve deeper into learning, explore new techniques in UX/UI design, and gain practical experience while pushing the boundaries of design to create valuable solutions for users.
          <br><br>
          I enjoy the creative process, from the initial sketch to the final user interface, finding inspiration in the balance between aesthetics and functionality to craft exceptional user experiences.
        </p>
        <Linkedbtn />
      </div>
    </div>
  </div>

  <!-- Desktop Layout -->
  <div class="hidden lg:block">
    <div class="flex items-center">
      <h2 class="text-5xl md:text-l mb-0 uppercase ml-24 pt-28 pb-0 text-primary">Who </h2>
      <h2 class="font-serif text-2xl md:text-l mb-0 lowercase ml-3 pt-32 pb-0" style="color: #FFDA03;">am I in the digital landscape? .. and what are my aspirations?</h2>
    </div>

    <div class="flex flex-wrap h-auto gap- ml-24 pt-10">
      <div class="flex flex-col justify-end items-center">
        <p class="max-w-lg flex-grow">I am a multimedia design student in my 3rd semester at KEA, driven by a lifelong passion for art and design. Through my studies, I have developed skills in digital design methods, gaining experience in user-oriented web solutions, prototyping in Figma, and frontend programming with HTML, CSS, and JavaScript.
          <br><br>
          I am dedicated to creating meaningful user experiences, with a particular interest in UX/UI design. I love bringing ideas to life and ensuring that my designs are not only aesthetically pleasing but also intuitive and functional. With a keen eye for detail, I strive to deliver high-quality work that addresses user needs and captures the essence of a brand. <br>
          <br>
          Teamwork is essential to my approach, as I believe that collaboration and challenging each other’s ideas lead to the best outcomes. I am seeking an internship where I can delve deeper into learning, explore new techniques in UX/UI design, and gain practical experience while pushing the boundaries of design to create valuable solutions for users.
          <br><br>
          I enjoy the creative process, from the initial sketch to the final user interface, finding inspiration in the balance between aesthetics and functionality to craft exceptional user experiences.
         </p>
        <div>Linkedbtn</div>
      </div>
      
      <div class="flex justify-center md:items-center items-start">  
        <Blob class="ml-4"/> <!-- Adjust margin if necessary -->
      </div>
    </div>
  </div>
</div>
</section>

<!-- ---------- Skill section ---------- -->
<section id="myskills">
  <div class="bg-white mt-20 h-auto md:h-130">
    <h2 class="text-5xl md:text-3xl mb-0 uppercase ml-9 md:ml-[3.7rem] pt-24 pb-28 text-primary">Skills</h2>
    <div class="grid grid-cols-2 md:grid-cols-5 gap-6 pb-28">
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/figmasort.svg"
          alt="Figma icon"
          altText="foto"
          headline="Figma"
          paragraphText="Figma er min trofaste ven hvor jeg nemt kan lave wireframes og prototyper som er overskuelige og visuelt lækkert til gav for alle i fx. projektarbejde." />
      </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/cc.svg"
          alt="Adobe Creative Cloud"
          altText="foto"
          headline="Adobe CC"
          paragraphText="I Adobe pakken bruger jeg mest programmerne Photoshop og Illustrator til billedredigering, grafik til websites og illustrationer som logoer." />
      </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/svcode.svg"
          alt="Visual Studio Code icon"
          altText="foto"
          headline="Html, Css & Js"
          paragraphText="Jeg kan også kode hjemmesider fra bunden ved hjælp af HTML 5, CSS, Javascript og Tailwind. Til det bruger jeg programmet Visual Studio Code." />
      </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/codepen.svg"
          alt="CodePen icon"
          altText="foto"
          headline="CodePen"
          paragraphText="CodePen bruger jeg til at eksperimentere kreativt med design og hurtigt se resultaterne af mine HTML, CSS og JavaScript-projekter i realtid." />
      </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/chatgpt.svg"
          alt="ChatGpt icon"
          altText="foto"
          headline="ChatGpt"
          paragraphText="ChatGPT er en god inspirationskilde, som effektivt kan hjælpe med idéer til designudfordringer og tekster, mens jeg udvikler mine projekter." />
      </div>
    </div>
  </div>
</section>

<!-- Skill bg -->
<section id="skillsbg -mt-80">
<div class="custom-skill-bg min-h-[50vh] sm:min-h-[60vh] md:min-h-[70vh] lg:min-h-[80vh] xl:min-h-[90vh]"></div>
</section>

<!-- ---------- Contact section ---------- -->
<section class="text-white">
<!--   <p class="text-lg md:text-l mb-0 ml-9 text-white">Space to feel comfortable you</p> -->
  <h2 class="text-4xl md:text-l mb-0 uppercase ml-9 pt-4 text-primary">Contact</h2>
  

  <section id="contact" class="text-lg leading-9 p-8 pt-16 md:p-16 md:flex md:gap-10 md:justify-start md:items-start">
    <div class="pb-10 flex-1">
      <!-- Venstre Kolonne (Kontaktoplysninger) -->
      <div class="flex flex-col text-primary -ml-5">
        <p class="font-bold text-xl mb-6 text-white">Let’s work together</p>
        <p class="text-base text-white">Charlotte Koudal</p> 
        <p class="text-base text-white">+45 2962 4832</p>
        <a href="mailto:c.koudal@gmail.com" class="text-white text-base m-0 pl-6 hover:text-accent transition">c.koudal@gmail.com</a>
      </div>
    </div>
  
    <div class="pb-10 flex-1 -ml-5">
      <!-- Højre Kolonne (Sociale Medier Links) -->
      <div class="flex flex-col">
        <a href="https://www.linkedin.com/in/charlotte-k-187b9b2a" class="text-white text-base pl-6 hover:text-accent transition">LinkedIn</a>
      </div>
    </div>
  </section>
</section>

  <Upbtn />
</div>
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
      const g = document.querySelector(".om_mig");
      if (g) {
          g.classList.add("animate__animated", "animate__slideInRight", "fadeInOpacity");
      }
  });
</script>
  <script type="module" src="/_astro/page.BA34ORVw.js"></script>

