@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
 .custom-main-bg { 
    background-color:var(--background-color)
  }

  /************ fonts ********************/
  @layer utilities {
    .font-main {/* DONE */
      font-family: var(--main-font);
    }
  }

  :root {/* DONE */
    --primary-color-500: #212121;
    --secondary-color-500: #FFDA03;
    --background-color: #F8F6F5;
    --main-font: "Poppins", sans-serif;
  }

   h1 {/* DONE */
    @apply text-5xl sm:text-6xl md:text-7xl;
    font-family: "Aboreto", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color-500);
  }
  
  h2 {/* DONE */
    @apply text-3xl md:text-4xl;
    font-family: "Aboreto", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color-500);
  }

  h3 {/* DONE */
    @apply text-xl md:text-xl;
    font-family: "Aboreto", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color-500);
  }

  h4, a {/* DONE */
    font-family: "Aboreto", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color-500);
  }
  
  p {/* DONE */
    @apply text-lg md:text-lg mb-0 ml-6;
  }

  /************ scrollUpBtn ********************/
  .liquid-button {
    position: relative;
    overflow: hidden;
  }

  .liquid {
    position: absolute;
    bottom: -50; 
    left: 50%;
    width: 200%; 
    height: 50%; 
    background-color: #FFDA03; 
    z-index: -1;
    border-radius: 50%; 
    transform: translateX(-50%); 
    transition: height 0.5s ease-in-out; 
  }
  
  /****** wave-effect *******/
  .waveButton {
    font-family: var(--main-font);
  }

  .wave {
    animation: wave-animation 2.5s ease-in-out infinite;
  }

  @keyframes wave-animation {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-5px); 
    }
  }
/****** slide-in effect *******/
  .fadeInOpacity {
    opacity: 0;
    animation: fadeInOpacity 1s forwards;
}

@keyframes fadeInOpacity {
    to {
        opacity: 1;
    }
}

}