---
import MainLayout from "../layouts/MainLayout.astro";
import Projectcardtest from "../components/Projectcardtest.astro";
import Linkedbtn from "../components/Linkedbtn.astro";
import Skill from "../components/Skill.astro";
import Upbtn from "../components/Upbtn.astro";
import cv from "../pages/cv.astro";
---

<MainLayout title="CKoudal">
  <div class="main">

  <!-- ---------- Hero section ---------- -->
  <section id="section 1">
    <div class="filter grayscale">
      <h1 class="flex items-start mt-28 md:mt-36 ml-10 mb-0 sm:ml-14 md:ml-32 lg:ml-52">
      <strong> DIGITAL DESIGNER </strong>
        <span class="hidden md:inline-block border-solid border-[0.2px] lg:border-[0.2px]border-primary w-[20rem] h-[0.25px] mt-[24px] lg:mt-[58px] -lg:ml-6" style="border-color: var(--primary-color-500)"></span>
      </h1>
      
      <div class="pt-2 ml-10 sm:ml-14 md:ml-32 lg:ml-52">
        <h2 class="">CHARLOTTE KOUDAL</h2>
        <h3 class="mt-[0.6rem] md:mt-[0.4rem] lg:mt-2">MMD STUDENT</h3>
      </div>
      
     <div>
      <img src="../svg/flower1.svg" alt="Decorativ blomst grafik" class="mt-[4.6rem] md:mt-12 w-auto pb-10" />
     </div>
    </div>
  </section>

  <span class="hidden lg:inline-block border-solid border-[0.2px] lg:w-[80rem] lg:mt-[32px] lg:ml-20" style="border-color: var(--primary-color-500)"></span>

<!-- ---------- About section ---------- -->
<section id="section 2">
  <div class="grid grid-cols-1 pt-32 pb-20 pl-0 gap-6 md:pb-32  md:pr-16 md:pl-8 lg:pr-32 lg:pl-16 xl:pr-64 xl:pl-32 md:gap-10 lg:ml-20">

    <!-- Desktop Layout -->
    <div class="hidden lg:flex pt-8 space-x-10 lg:-mt-12">
      <!-- Left side: Text -->
      <div class="flex-1">
        <div class="flex pt-2 ml-6 sm:ml-14 md:ml-0 space-x-2 pb-16">
          <h2><strong>ABOUT</strong></h2>
          <!-- <span class="border-solid border-[0.2px] w-[0.8rem] h-[0.25px] sm:mt-[2px] lg:w-[30.8rem] lg:mt-[32px] -lg:ml-30" style="border-color: var(--primary-color-500)"></span>
         --></div>
    
        <div>
          <p class="mb-4">Hi! I’m Charlotte Koudal, a multimedia design student at KEA in Copenhagen. I’m currently seeking an internship where I can develop my skills further and contribute to impactful design solutions.</p>
          <p class="mb-4">I’m passionate about combining functionality, aesthetics, and user-friendliness to create solutions that meet both user and business needs. My expertise includes:</p>
    
          <ul class="list-disc ml-14 mb-4 space-y-2 pr-8">
            <li><strong>User Insights:</strong> Conducting interviews, mapping user journeys and crafting complelling storytelling</li>
            <li><strong>Design processes:</strong> Iterating ideas through feedback and testing</li>
            <li><strong>Visual Design:</strong> Creating mood boards, applying typography and color theory, and developing style guides</li>
            <li><strong>Prototyping & Testing:</strong>Building wireframes, organizing information architecture, and conducting usability testing in Figma</li>
          </ul>
    
          <p class="mb-4 pb-10">I’m dedicated to designing intuitive, functional, and visually compelling solutions. If you’re looking for a motivated intern with a passion for design, let’s connect!</p>
        </div>
      </div>
    
      <!-- Right side: Image and Linkedbtn underneath -->
      <div class="flex-1 flex flex-col items-center justify-center text-center lg:-ml-6 lg:translate-x-20">
        <img src="../img/profileimg.png" alt="Profile Image" class="filter grayscale h-90 mt-2 lg:mt-10 sm:h-[28rem] md:h-[28rem] lg:h-[28rem] xl:h-[28rem] w-auto" />
        <div class="flex items-center justify-center mt-4 lg:-mt-16">
          <Linkedbtn />
        </div>
      </div>
    </div>
    
    <!-- Mobile Layout -->
    <div class="block md:hidden lg:hidden pt-8">
      <div>
        <div class="flex pt-2 -mt-20 ml-10 pb-16">
          <h2 class="relative"><strong>ABOUT</strong></h2>
          <span class="border-solid border-[0.2px] w-[12.4rem] h-[0.25px] mt-[27px] ml-[-5px]" style="border-color: var(--primary-color-500);"></span>
        </div>
      </div>
    
      <div class="items-center justify-center p-4">
        <div>
          <p class="mb-4 pr-6 -mt-10">Hi! I’m Charlotte Koudal, a multimedia design student at KEA in Copenhagen. I’m currently seeking an internship where I can develop my skills further and contribute to impactful design solutions.</p>
          <p class="mb-4 pr-6">I’m passionate about combining functionality, aesthetics, and user-friendliness to create solutions that meet both user and business needs. My expertise includes:</p>

          <ul class="list-disc ml-14 mb-4 space-y-2 pr-8">
            <li><strong>User Insights:</strong> Conducting interviews, mapping user journeys and crafting complelling storytelling</li>
            <li><strong>Design processes:</strong> Iterating ideas through feedback and testing</li>
            <li><strong>Visual Design:</strong> Creating mood boards, applying typography and color theory, and developing style guides</li>
            <li><strong>Prototyping & Testing:</strong>Building wireframes, organizing information architecture, and conducting usability testing in Figma</li>
          </ul>
      
          <p class="mb-4 pb-10 pr-8">I’m dedicated to designing intuitive, functional, and visually compelling solutions. If you’re looking for a motivated intern with a passion for design, let’s connect!</p>
        </div>

        <div class="flex flex-col items-center justify-center text-center">
          <img src="../img/profileimg.png" alt="Profile Image" class="filter grayscale h-90 mt-2 sm:h-[28rem] md:h-[28rem] lg:h-[28rem] xl:h-[28rem] w-auto" />
          <div class="flex items-center justify-center -mt-20 pb-10"><Linkedbtn /></div>
        </div>
      </div>
    </div>

    <span class="hidden lg:inline-block border-solid border-[0.2px] lg:w-[80rem] lg:mt-[32px] lg:-ml-32" style="border-color: var(--primary-color-500)"></span>
</section>



<!-- ---------- Skills section ---------- -->
<section id="section 3"> 
  <div class="pt-10">

    <div class="pt-[10.5rem]">

    <div class="flex pt-2 ml-10 lg:ml-52 pb-16 -mt-[10.6rem] lg:-mt-[13.6rem]">
      <h2 class="relative"><strong>SKILLS</strong></h2>
      <span class="block lg:hidden border-solid border-[0.2px] w-[12.8rem] h-[0.25px] mt-[27.4px] ml-[-12px]" style="border-color: var(--primary-color-500)"></span>
    </div>

    <div class="grid -mt-12 grid-cols-1 md:grid-cols-5 mb-14 gap-8 lg:ml-40 lg:mr-40">
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/figma_outline.svg"
          alt="Figma icon"
          altText="foto"
          headline="Figma"
          paragraphText="Figma is my trusted tool for creating clear, visually appealing wireframes and prototypes that enhance project collaboration and efficiency." />
      </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/adobe_outline.svg"
          alt="Adobe Creative Cloud"
          altText="foto"
          headline="Adobe CC"
          paragraphText="In the Adobe suite, I primarily use Photoshop and Illustrator for image editing, website graphics, and illustrations, incl. logos and other visual assets." />
      </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/vsc_outline.svg"
          alt="Visual Studio Code icon"
          altText="foto"
          headline="Html, Css & Js"
          paragraphText="When creating websites I use HTML, CSS, JavaScript, and Tailwind, with Visual Studio Code as my development environment." />
      </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/codepen_outline.webp"
          alt="CodePen icon"
          altText="foto"
          headline="CodePen"
          paragraphText="I use CodePen to creatively experiment with design and quickly see the results of my HTML, CSS, and JavaScript projects in real time."/>
      </div>
      <div class="flex flex-col items-center pb-20"> 
        <Skill
          imageSrc="/svg/chat_outline.svg"
          alt="ChatGpt icon"
          altText="foto"
          headline="ChatGpt"
          paragraphText="ChatGPT is a great source of inspiration, effectively helping with ideas for design challenges and copywriting as I develop my projects." />
      </div>
    </div>
  </div>
  </div>
  <span class="hidden lg:inline-block border-solid border-[0.2px] lg:w-[80rem] lg:mt-[0rem] lg:ml-20" style="border-color: var(--primary-color-500)"></span>
</section>

<!-- ---------- Projectcard section ---------- -->
<section id="section 4" style="overflow hidden border">
  <div class="pt-[4.7rem]">
  <div class="mt-[8rem] lg:mt-[7.4rem]">
   <div class="flex pt-2 -mt-20 ml-10 lg:ml-52 pb-16">
     <h2 class="relative"><strong>PROJECTS</strong></h2>
     <span class="block lg:hidden border-solid border-[0.2px] w-[9.8rem] h-[0.25px] mt-[27.4px] ml-[-12px]" style="border-color: var(--primary-color-500)"></span>
   </div>
   <div class="lg:mt-[-13.4rem] lg:mb-[-22.4rem]">
  <Projectcardtest/>
   </div>
  </div>
</div>
</section> 

<!-- ---------- Contact section ---------- -->
<span class="hidden lg:inline-block border-solid border-[0.2px] lg:w-[80rem] lg:mt-[18rem] lg:ml-20 z-100" style="border-color: var(--primary-color-500)"></span>

<section id="section 5">
  <div class="pt-[4.1rem]">
  <div class="mt-[4.6rem]">
  <div class="flex flex-col">
    <div class="flex pt-2 -mt-20 lg:-mt-[1.8rem] ml-10 pb-16 lg:ml-52">
      <h2 class="relative"><strong>CONTACT</strong></h2>
 <span class="block lg:hidden border-solid border-[0.2px] border-primary w-[9.8rem] h-[0.25px] mt-[27px] ml-[-5px]" style="border-color: var(--primary-color-500)"></span>
    </div>

    <section class="mt-2 p-8 md:p-16 md:flex md:gap-10 md:justify-start md:items-center lg:ml-[6rem]">
      <div class="flex flex-col text-primary -ml-4 -mt-20 md:ml-6">
        <div class="flex items-center">
          <img src="../svg/pen_papir.svg" alt="pen og papir ikon" class="mt-[2.6rem] ml-6 md:mt-12 w-auto pb-10" />
          <div>
            <p>Mail</p>
            <a href="mailto:c.koudal@gmail.com" class="l-6 hover:text-[var(--secondary-color-500)]" style="font-family: var(--main-font);">
              <p>c.koudal@gmail.com</p>
            </a>
          </div>
        </div>

        <div class="flex items-center -mt-12">
          <img src="../svg/linkedin.svg" alt="Linkedin ikon" class="mt-[2.6rem] ml-3 md:mt-12 w-auto pb-10" />
          <div>
            <p>Socials</p>
            <a href="https://www.linkedin.com/in/charlotte-k-187b9b2a" target="_blank" class="hover:text-[var(--secondary-color-500)]" style="font-family: var(--main-font);">
              <p>Linkedin</p>
            </a>
          </div>
        </div>

        <div class="flex items-center -mt-10">
          <img src="../svg/cup.svg" alt="Te kop" class="mt-[1.6rem] ml-6 md:mt-12 w-auto pb-10" />
          <div>
            <p>Coffee</p>
            <p class="hover:text-[var(--secondary-color-500)]">+45 29 62 48 32</p>
          </div>
        </div>

        <!-- <div class="flex items-center -mt-6">
          <img src="../svg/cup.svg" alt="Te kop" class="mt-[1.6rem] ml-6 md:mt-12 w-auto pb-10" />  husk at skifte ikon! --
          <div>
            <p>Qualification</p>
            <a href="/cv" class="hover:text-[var(--secondary-color-500)] transition" style="font-family: var(--main-font)">
              <p>CV</p>
            </a>
          </div>
        </div> -->
      </div>
    </section>
  </div>
  </div>

  <div class="lg:transform lg:-translate-x-32 lg:-mt-22">
    <div class="filter grayscale w-full flex justify-end place-items-end">
     <img src="../img/flower.webp" alt="Blomst" class="h-96" />
    </div>
  </div>
</section>

  <Upbtn />
</div>
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
      const g = document.querySelector(".om_mig");
      if (g) {
          g.classList.add("animate__animated", "animate__slideInRight", "fadeInOpacity");
      }
  });
</script>
  <script type="module" src="/_astro/page.BA34ORVw.js"></script>

