---
import MainLayout from "../layouts/MainLayout.astro";
import Projectcardtest from "../components/Projectcardtest.astro";
import Linkedbtn from "../components/Linkedbtn.astro";
import Skill from "../components/Skill.astro";
import Upbtn from "../components/Upbtn.astro";
import Footer from "../components/Footer.astro";
---

  

<MainLayout title="CKoudal">
  <div class=" main">

  <!-- ---------- Hero section ---------- -->
  <section id="section 1">
    <div>
      <h1 class="flex items-start mt-28 md:mt-36 ml-4 sm:ml-14 md:ml-32 lg:ml-52 mb-0">
      </strong> DIGITAL DESIGNER </strong>
        <span class="hidden md:inline-block border-2 border-primary w-40 md:w-60 lg:w-96 h-0.5 ml-2 mt-4 md:mt-6 lg:mt-8"></span>
      </h1>
      
      <div class="pt-2 ml-4 sm:ml-14 md:ml-40 lg:ml-52">
        <h2>CHARLOTTE KOUDAL</h2>
        <h3 class="mt-[0.6rem] md:mt-[0.4rem] lg:mt-2">MMD STUDENT</h3>
      </div>
      
     <div>
      <img src="../svg/flower1.svg" alt="Blomst" class="mt-[4.6rem] md:mt-12 w-auto pb-10" />
     </div>
    </div>
  </section>

<!-- ---------- About section ---------- -->
<section id="section 2">
  <div class="grid grid-cols-1 lg:grid-cols-2 pt-10 md:pb-32 pb-20 pr-8 pl-0 md:pr-16 md:pl-8 lg:pr-32 lg:pl-16 xl:pr-64 xl:pl-32 md:gap-10 gap-6">

  <!-- Mobile Layout -->
  <div class="block lg:hidden pt-8 pl-0">
    <div>
      <div class="flex pt-2 ml-4 sm:ml-14 md:ml-40 lg:ml-52 space-x-2 pb-16">
        <h2><strong>ABOUT</strong></h2>
        <span class="border-solid border-[0.2px] border-primary w-[22.8rem] h-[0.25px] mt-[24px] ml-48"></span>
      </div>

      <div>
        <p class="mb-4 ">I’m a multimedia design student at KEA, passionate about the UX design process. I’m currently seeking an internship where I can further develop my skills and contribute to impactful design projects.</p>
        <p class="mb-4">I love creating solutions that balance functionality, aesthetics, and impact, addressing both user and business needs. My process includes:</p>
    
        <ul class="list-disc ml-14 mb-4 space-y-2 "><!-- ret text størrelse -->
          <li><strong>User Research:</strong> Interviews, user stories, journey mapping</li>
          <li><strong>Design Iteration:</strong> Developing ideas through feedback and testing</li>
          <li><strong>Visual Design:</strong> Crafting mood boards, style guides, applying typography & color theory</li>
          <li><strong>Prototyping & Testing:</strong> Using Figma for wireframes, information architecture, and usability testing</li>
        </ul>
    
        <p class="mb-4 pb-10">I’m driven to design meaningful user experiences that blend visual appeal with functionality. If you’re interested in collaborating, let’s connect!</p>
      </div>

      <div class="flex flex-col items-center justify-center text-center">
        <img src="../img/profileimg.png" alt="Blomst" class="h-90 mt-2 sm:h-[28rem] md:h-[28rem] lg:h-[28rem] xl:h-[28rem] w-auto" />
        <div class="flex items-center justify-center -mt-20 pb-10 ml-6"><Linkedbtn /></div><!-- skal rettes! -->
      </div>
    </div>
  </div>
</section>

<!-- ---------- Skills section ---------- -->
<section id="section 3"> <!-- færdig rettet mobile --> <!-- ret tekst størelse -->
  <div class="">

    <div class="flex pt-2 ml-4 sm:ml-14 md:ml-40 lg:ml-52 space-x-2 pb-16">
      <h2><strong>SKILLS</strong></h2>
      <span class="border-solid border-[0.2px] border-primary w-[22.8rem] h-[0.25px] mt-[24px] ml-48"></span>
    </div>

    <div class="grid grid-cols-2 -gap-x-10 -mt-12 ml-[2rem] mr-[2.4rem] md:grid-cols-5">
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/figma_outline.svg"
          alt="Figma icon"
          altText="foto"
          headline="Figma"
          paragraphText="Figma er min trofaste ven hvor jeg nemt kan lave wireframes og prototyper som er overskuelige og visuelt lækkert til gav for alle i fx. projektarbejde." />
        </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/adobe_outline.svg"
          alt="Adobe Creative Cloud"
          altText="foto"
          headline="Adobe CC"
          paragraphText="I Adobe pakken bruger jeg mest programmerne Photoshop og Illustrator til billedredigering, grafik til websites og illustrationer som logoer." />
      </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/vsc_outline.svg"
          alt="Visual Studio Code icon"
          altText="foto"
          headline="Html, Css & Js"
          paragraphText="Jeg kan også kode hjemmesider fra bunden ved hjælp af HTML 5, CSS, Javascript og Tailwind. Til det bruger jeg programmet Visual Studio Code." />
      </div>
      <div class="flex flex-col items-center"> 
        <Skill
          imageSrc="/svg/codepen_outline.svg"
          alt="CodePen icon"
          altText="foto"
          headline="CodePen"
          paragraphText="CodePen bruger jeg til at eksperimentere kreativt med design og hurtigt se resultaterne af mine HTML, CSS og JavaScript-projekter i realtid." />
      </div>
      <div class="flex flex-col items-center pb-20"> 
        <Skill
          imageSrc="/svg/chat_outline.svg"
          alt="ChatGpt icon"
          altText="foto"
          headline="ChatGpt"
          paragraphText="ChatGPT er en god inspirationskilde, som effektivt kan hjælpe med idéer til designudfordringer og tekster, mens jeg udvikler mine projekter." />
      </div>
    </div>
  </div>
</section>

<!-- ---------- Projectcard section ---------- -->
<section id="section 4 overflow hidden border"> <!-- færdig rettet mobile -->
  <div class="flex pt-2 ml-4 sm:ml-14 md:ml-40 lg:ml-52 space-x-2 pb-16">
    <h2><strong>PROJECTS</strong></h2>
    <span class="border-solid border-[0.2px] border-primary w-[20.8rem] h-[0.25px] mt-[24px] ml-48"></span>
  </div>
  <div>
   <Projectcardtest/>
  </div>
</section> 

<!-- ---------- Contact section ---------- -->

<section id="section 5"> <!-- færdig rettet mobile -->
  <div class="flex flex-col">

<div class="flex pt- md:pt-2 ml-[3.6rem] md:ml-[16.4rem] space-x-2 pb-16">
  <h2><strong>CONTACT</strong></h2>
  <span class="border-solid border-[0.2px] border-primary w-[20.8rem] h-[0.25px] mt-[24px] ml-48"></span>
</div>

<section id="section 8" class="text-lg leading-9 p-8 pt-16 md:p-16 md:flex md:gap-10 md:justify-start md:items-start">
  <div class="pb-10 flex-1">
    <!-- Venstre Kolonne (Kontaktoplysninger) -->
    <div class="flex flex-col text-primary -ml-5">
      <p class="font-bold text-xl mb-6 text-white">Let’s work together</p>
      <p class="text-base text-white">Charlotte Koudal</p> 
      <p class="text-base text-white">+45 2962 4832</p>
      <a href="mailto:c.koudal@gmail.com" class="text-white text-base m-0 pl-6 hover:text-accent transition">c.koudal@gmail.com</a>
    </div>
  </div>

  <div class="pb-10 flex-1 -ml-5">
    <!-- Højre Kolonne (Sociale Medier Links) -->
    <div class="flex flex-col">
      <a href="https://www.linkedin.com/in/charlotte-k-187b9b2a" class="text-white text-base pl-6 hover:text-accent transition">LinkedIn</a>
    </div>
  </div>
</section>

<div>
  <img src="../svg/flower_bird.svg" alt="Blomst" class="ml-12 mt-[4.6rem] md:mt-12 w-auto pb-10" />
 </div>
</div>

</section>

  <Upbtn />
</div>
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
      const g = document.querySelector(".om_mig");
      if (g) {
          g.classList.add("animate__animated", "animate__slideInRight", "fadeInOpacity");
      }
  });
</script>
  <script type="module" src="/_astro/page.BA34ORVw.js"></script>

