---
import { Image } from 'astro:assets';
import atkImage from "./public/img/atk.webp";
import dcdImage from "./public/img/dcd.webp";
import itmvImage from "./public/img/itmv.webp";

---
<section id="section-4" class="mt-2">
    <div class="projectcards">
      <!-- Project 1: Plastic Change -->
      <div class="flex flex-col lg:flex-row items-center h-screen w-full bg-cover sticky top-20 border-solid border-2 border-blue-500 lg:pl-28 lg:pr-28">
        <!-- Mobile and Desktop Image -->
        <div class="w-4/5 lg:w-4/3 mx-auto lg:mx-9 border-solid border-2 border-red-500">
          <a href="https://plasticchange17.netlify.app/" target="_blank">
            <img 
              src="../img/plasticchange.webp" 
              alt="Landing page for Plastic Change" 
              class="transition-all duration-300 filter grayscale hover:filter-none object-cover"
            />
          </a>
        </div>
        <!-- Mobile and Desktop Text Content -->
        <div class="w-4/5 lg:w-[600px] mx-auto lg:pl-6 p-8 bg-[var(--box-color)] border-solid border-2 border-red-500">
            <h5 class="pb-6 text-4xl uppercase"><strong>Plastic Change</strong></h5>
            <h6>
              Plastic Change is a Danish organization dedicated to fighting for a world free from plastic pollution.<br><br>
              They needed a digital one-page fundraising campaign to encourage individuals to contribute through either a one-time donation or a monthly membership.<br><br>
              My primary focus was on project management, the Figma design process, handling coding tasks, and managing routine work.
            </h6>
        </div>
      </div>
  
      <!-- Project 2: Digital Cleanup Day -->
      <div class="flex flex-col lg:flex-row items-center h-screen w-full bg-cover sticky top-20">
        <!-- Mobile and Desktop Image -->
        <div class="w-4/5 lg:w-4/3 mx-auto lg:mx-9">
          <a href="https://digitalskraldedaggr4.netlify.app" target="_blank">
            <img 
              src="../img/dcd.webp" 
              alt="Landing page for Digital Cleanup Day" 
              class="transition-all duration-300 filter grayscale hover:filter-none object-cover"
            />
          </a>
        </div>
        <!-- Mobile and Desktop Text Content -->
        <div class="w-4/5 lg:w-[600px] mx-auto lg:pl-6 p-8 bg-[var(--box-color)]">
    <h5 class="pb-6 text-4xl uppercase"><strong>Digital Cleanup Day</strong></h5>
    <h6>
      Digital Cleanup Day was a collaborative group project where we developed a Danish version of the concept digitalcleanupday.org.<br><br>
      I primarily focused on the Figma design process. We also used Astro, Tailwind CSS, and Alpine.js to bring our vision to life.
    </h6>
  </div>
</div>
  
      <!-- Project 3: Arbejdernes Tennisklub -->
      <div class="flex flex-col lg:flex-row items-center h-screen w-full bg-cover sticky top-20">
        <!-- Mobile and Desktop Image -->
        <div class="w-4/5 lg:w-4/3 mx-auto lg:mx-9">
          <a href="https://atk-website.netlify.app/" target="_blank">
            <img 
              src="../img/atk.webp" 
              alt="Landing page for Arbejdernes Tennisklub" 
              class="transition-all duration-300 filter grayscale hover:filter-none object-cover"
            />
          </a>
        </div>
        <!-- Mobile and Desktop Text Content -->
        <div class="w-4/5 lg:w-[600px] mx-auto lg:pl-6 p-8 bg-[var(--box-color)]">
          <h5 class="pb-6 text-4xl uppercase"><strong>Arbejdernes Tennisklub</strong></h5>
          <h6>
            This project was a second-semester exam assignment where we collaborated with Arbejdernes Tennisklub (ATK) to redesign their website.<br><br>
            The goal was to simplify the site and make it more user-friendly, aiming to strengthen the community and increase member engagement.<br><br>
            My focus was on the Figma design process and developing content for social media.
          </h6>
        </div>
      </div>
  
      <!-- Project 4: I Tr책d Med Verden -->
      <div class="flex flex-col lg:flex-row items-center h-screen w-full bg-cover sticky top-20">
        <!-- Mobile and Desktop Image -->
        <div class="w-4/5 lg:w-4/3 mx-auto lg:mx-9">
          <a href="https://itmv20.netlify.app" target="_blank">
            <img 
              src="../img/itmv.webp" 
              alt="Landing page for I Tr책d Med Verden" 
              class="transition-all duration-300 filter grayscale hover:filter-none object-cover"
            />
          </a>
        </div>
        <!-- Mobile and Desktop Text Content -->
        <div class="w-4/5 lg:w-[600px] mx-auto lg:pl-6 p-8 bg-[var(--box-color)]">
          <h5 class="pb-6 text-4xl uppercase"><strong>I Tr책d Med Verden</strong></h5>
          <h6>
            With I Tr책d Med Verden (ITMV), the task was to develop a digital solution with a web feature and create content for both the website and social media.<br><br>
            The goal was to generate engagement and increase conversions from both private donors and businesses, with a specific focus on targeting women in corporate positions who could advocate for our cause within their organizations.<br><br>
            My focus was primarily on the Figma design phase, handling coding tasks, and managing routine work.
          </h6>
        </div>
      </div>
  
    </div>
  </section>
  