---
// Skill.astro
const { imageSrc, altText, headline, paragraphText } = Astro.props;
---

<div class="flex flex-col items-center justify-center p-4">
  <div class="w-[110px] h-[110px] sm:w-[90px] sm:h-[90px] md:w-[100px] md:h-[100px] lg:w-[120px] lg:h-[120px] mb-1">
    <img src={imageSrc} alt={altText} class="object-contain" />
  </div>

  <p class="bg-white text-left max-w-[200px] sm:max-w-[225px] md:max-w-[250px] mb-2 p-2 borde">
    {paragraphText}
  </p>
</div>

