---
// Skill.astro
const { imageSrc, altText, headline, paragraphText } = Astro.props;
---

<div class="flex flex-col items-center justify-center p-4">
  <div class="w-[110px] h-[110px] sm:w-[90px] sm:h-[90px] md:w-[100px] md:h-[100px] lg:w-[120px] lg:h-[120px] mb-4">
    <img src={imageSrc} alt={altText} class="object-contain mx-auto pt-14" />
  </div>

  <p class="bg-[#ffffff] text-left max-w-[200px] sm:max-w-[225px] md:max-w-[250px] h-[3000px] sm:h-[225px] md:h-[320px] p-6 shadow-md">
    {paragraphText}
  </p>
</div>



