---
// Skill.astro
const { imageSrc, altText, headline, paragraphText } = Astro.props;
---

    <div class="">
      <div class="mb-4">
       <img src={imageSrc} alt={altText} class="object-contain mx-auto pt-14" />
      </div>

      <div class="bg-[var(--box-color)] max-w-[260px] p-4 shadow-md"> 
        <h6>{paragraphText}</h6>
      </div>
    </div>


