---
// Skill.astro
const { imageSrc, altText, headline, paragraphText } = Astro.props;
---

    <div class="">
      <div class="mb-4">
       <img src={imageSrc} alt={altText} class="object-contain mx-auto pt-14" />
      </div>

      <div class=" bg-[#ffffff] text-left max-w-[200px] sm:max-w-[225px] md:max-w-[250px] p-10 shadow-md">
      <h6>{paragraphText}</h6>
      </div>
    </div>


