---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css"; // Importer Tailwind CSS én gang
const { title } = Astro.props;
---

<html lang="da" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/svg/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="/svg/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/svg/favicon.svg">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://unpkg.com/alpinejs" defer is:inline></script>
    <title>{title}</title>
  </head>
  
  <body class="custom-main-bg">
    <Header />

    <main>
      <slot />
    </main>

    <footer>
      <Footer />
    </footer> 
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
  }
</style>
